## Variable examples

In [4]:
int = 1
float = 1.5
str = "string"
list = [1, 2, 3, 4, 5]
tuple = (1, 2, 3, 4, 5)
dictionary = {"key1":"bK3h%UJd&", "key2":"Jl1&oPa"}
set = {1, 1, 1, 2, 2, 2, 3, 3, 3}

## .format examples

In [13]:
name = "Matheus"
age = 19

print("My name is {} and my age is {}, yes {}.".format(name, age, age))
# or
print("My name is {one} and my age is {two}, yes {two}.".format(one = name, two = age))
# or
print("My name is " + name + " and my age is " + str(age) + " yes, " + str(age) + ".")

My name is Matheus and my age is 19, yes 19.
My name is Matheus and my age is 19, yes 19.
My name is Matheus and my age is 19 yes, 19.
My name is Matheus and my age is 19, yes 19.

## Select characters at string

In [2]:
my_name = "Matheus Tecchio"
print(my_name[:6])
print(my_name[1:])
print(my_name[1:6])

Matheu
atheus Tecchio
atheu

## List examples

In [9]:
my_list = ["a", "b", "c", "d"]
print(my_list)

print(my_list[1:3])         # Select value at list

my_list.append("ADD")       # Add object on list
print(my_list)

my_list[1] = "REPLACE"      # Replace object on list
print(my_list)

['a', 'b', 'c', 'd']
['b', 'c']
['a', 'b', 'c', 'd', 'ADD']
['a', 'REPLACE', 'c', 'd', 'ADD']

## Tuple examples

In [6]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[1] = "REPLACE"     # ERROR, because tuples are immutable

TypeError: 'tuple' object does not support item assignment

## Dictionary examples

In [7]:
keys = {"key1":"bK3h%UJd&", "key2":"Jl1&oPa"}
print(keys["key1"])

keys["key1"] = "NEWbK3h%UJd&"
print(keys["key1"])

bK3h%UJd&
NEWbK3h%UJd&

## Boolean examples (TRUE and FALSE)

In [8]:
print(1 < 2)
print(1 < 1)
print(1 == 1)
print(1 >= 1)

True
False
True
True